---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5YJN2KMKXW"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-5YJN2KMKXW');
    </script>
</head>
<script data-goatcounter="https://paulscotti.goatcounter.com/count"
async src="//gc.zgo.at/count.js"></script>
<script>
    function scroller(id) {
        $('html, body').animate({
            scrollTop: $("#"+id).offset().top
        }, 1000);
    }
</script>
<style>
#names {
    font-size: 14px;
    font-weight: normal;
}
.cbar {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    float: center;
}
.cbar2 {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}
.crow:after {
    content: "";
    display: table;
    clear: both;
}
.title .btn {
    margin: 2px !important;
    padding: 6px !important;
    font-size: 16px !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
}
.btn-rainbow {
    color: white !important;
    background: linear-gradient(124deg, #3A2D68, #2C5182, #277A2B, #9D9340, #A36234, #963239);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.12);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}
.btn-rainboww {
    color: white !important;
    background: linear-gradient(124deg, #9D9340, #A36234, #963239, #3A2D68, #2C5182, #277A2B);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.12);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
.btn-yellow {
    color: black !important;
    background-color: #ffeb3b52;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.12);
}
</style>
<body>
    <!-- <header id="vss">
        <div class="container animated fadeIn" style="width: 70%; max-width: 3000px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(255, 255, 255); background-color: white">
                <h3 class="title" style="text-align: center; padding-top: 5px; color: black; font-size:1rem">
                    Here from VSS/VWMS? <a href="https://www.biorxiv.org/content/10.1101/2021.05.22.445245v1" style="color: #963239">Click here</a> for our preprint about inverted encoding models (and <a href="https://pypi.org/project/inverted-encoding" style="color: #963239">click here</a> for our associated Python package)! Please email me at scottibrain@gmail.com if you have any comments/questions!
                </h3>
            </div>  
        </div>
    </header> -->

    {% include nav.html %}
    <div class="container animated fadeIn" style="width: 50%; max-width: 1500px; min-width: 500px; padding-bottom: 20px">
        <div class="row" style="border: 6px solid transparent; border-image: linear-gradient(to bottom right, #431358 0%, #08294d 25%, #28750a 50%, #524b14 75%, #46132e 100%); border-image-slice: 1;">
                <a href="{{ site.url }}">
                    <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                </a>
                <h3 class="title">
                    <p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <a class="btn btn-rainbow" href="http://paulscotti.github.io/medarc_lab.html">
                        <b>Neuroimaging & AI Lab</b>
                    </a>
                    <a class="btn btn-rainbow" href="https://paulscotti.github.io/images/Scotti_CV.pdf">
                        <b>Curriculum vitae</b>
                    </a>
                    <br>
                    <button class="btn btn-rainboww" onclick="scroller('published')">
                        <b>Publications / Projects</b>
                    </button>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <p style="font-size:1rem;font-weight:300">Neuroscience Educational Tools:</p>
                    <a class="btn btn-yellow" href="https://groups.google.com/g/medarc-fmri">
                        NeuroAI Reading Group
                    </a>
                    <br>
                    <a class="btn btn-yellow" href="https://paulscotti.github.io/educortex">
                        EduCortex <font size="-1">(Brain visualizer)</font>
                    </a>
                    <br>
                    <a class="btn btn-yellow" href="https://www.youtube.com/channel/UCEGD13q4cWw5Lvkwo2uZKVg">
                        OnNeuro <font size="-1">(Lecture repository)</font>
                    </a>
                    <br>
                    <a class="btn btn-yellow" href="https://pypi.org/project/inverted-encoding">
                        Inverted Encoding <font size="-1">(Python package)</font>
                    </a>
                    <br>
                    <a class="btn btn-yellow" href="https://paulscotti.github.io/fmriplayground/">
                        fMRI Playground <font size="-1">(Interactive textbook)</font>
                    </a>
                </h3>
                {% include social-links.html %}
        </div>
    </div>
    {% include scripts.html %}

    <header id="published">
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; min-width: 500px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(255, 255, 255); background-color: black">
                <h3 class="title" style="text-align: center; padding-top: 5px; color: white">
                    CURATED WORK
            </h3>
            <!-- <div style="text-align: center; padding-bottom: 5px; color: rgb(190, 190, 190)"></div> -->
            </div>
        </div>
    </header>

    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; min-width: 500px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    MindEye2: Shared-Subject Models Enable fMRI-To-Image With 1 Hour of Data
                    <div id="names">Paul S. Scotti, ... Thomas Naselaris, Kenneth A. Norman, Tanishq Mathew Abraham</div>
                    <a class="btn zoombtn" href="https://medarc-ai.github.io/mindeye2/">
                    ICML
                    </a>
                    <br><br>
                    <div class="cbar">
                        SOTA in reconstructing seen images from fMRI brain activity, achieved via shared-subject modeling and fine-tuning SDXL.</a>
                    </div>
                    <br>
                    <div class="cbar2">
                        <img src="https://github.com/MedARC-AI/MindEyeV2/blob/main/figs/recon_comparison_small_alt.png?raw=true" style="width: 400px">
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; min-width: 500px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    AI Alibis: Multi-Agent LLM Murder Mystery
                    <div id="names">Paul S. Scotti & Will Beddow</div>
                    <a class="btn zoombtn" href="https://ai-murder-mystery.onrender.com/">
                    Interactive website
                    </a>
                    <br><br>
                    <div class="cbar">
                        Violation & principles refinement can address pink elephant problem in large language models, illustrated via short interactive murder mystery game built with React.
                    </div>
                    <br>
                    <div class="cbar2">
                        <img src="https://paulscotti.github.io/images/aialibis_crop.png" style="width: 300px">
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; min-width: 500px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    Reconstructing the Mind’s Eye: fMRI-to-Image with Contrastive Learning and Diffusion Priors
                    <div id="names">Paul S. Scotti, Atmadeep Banerjee, ... Kenneth A. Norman, Tanishq Mathew Abraham</div>
                    <a class="btn zoombtn" href="https://medarc-ai.github.io/mindeye/">
                    NeurIPS (spotlight)
                    </a>
                    <br><br>
                    <div class="cbar">
                        Retrieval and reconstruction of seen images from fMRI brain activity using contrastive learning and diffusion modeling.
                    </div>
                    <br>
                    <div class="cbar2">
                        <img src="https://paulscotti.github.io/images/mindeye_crop.png" style="width: 400px">
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <!-- JOSE -->
    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; min-width: 500px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    EduCortex: browser-based 3D brain visualization of fMRI meta-analysis maps
                    <div id="names">Paul S. Scotti, Arman Kulkarni, Matan Mazor, Eduard Klapwijk, Tal Yarkoni, & Alexander Huth</div>
                    <a class="btn zoombtn" href="https://paulscotti.github.io/educortex">
                        Interactive website
                    </a>
                    <a class="btn zoombtn" href="https://jose.theoj.org/papers/10.21105/jose.00075.pdf">
                    Journal of Open Source Education
                    </a>
                    <br><br>
                    <div class="cbar">
                        Browser visualization tool. User can visualize anatomical areas of the brain and use our meta-analysis interface to overlay functional specializations.
                    </div>
                    <br>
                    <div class="cbar2">
                        <img src="https://paulscotti.github.io/images/educortex.png" style="width: 250px">
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; min-width: 500px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    fMRI Playground: Simple summaries & simulations of neuroimaging methods
                    <div id="names">Paul S. Scotti, Jiageng Chen, Xiaoli Chen, & Julie D. Golomb</div>
                    <a class="btn zoombtn" href="https://paulscotti.github.io/fmriplayground/">
                    Interactive website
                    </a>
                    <br><br>
                    <div class="cbar">
                        Interactive textbook on computational neuroimaging methods using flowcharts, high-level method summaries, and practical Python examples using simulated data.
                    </div>
                    <br>
                    <div class="cbar2">
                        <img src="https://paulscotti.github.io/images/playground_crop.png" style="width: 350px">
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; min-width: 500px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    An enhanced inverted encoding model for neural reconstructions
                    <div id="names">Paul S. Scotti, Jiageng Chen, & Julie D. Golomb</div>
                    <a class="btn zoombtn" href="https://www.biorxiv.org/content/10.1101/2021.05.22.445245v4">
                    bioRxiv
                    </a>
                    <a class="btn zoombtn" href="https://pypi.org/project/inverted-encoding/">
                        PyPI
                    </a>
                    <br><br>
                    <div class="cbar">
                        Python package for inverted encoding models to improve flexibility and interpretability of stimulus reconstructions.</a>
                    </div>
                    <br>
                    <div class="cbar2">
                        <img src="https://paulscotti.github.io/images/iem_crop.png" style="width: 600px">
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; min-width: 500px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    Visual working memory items drift apart due to active, not passive, maintenance
                    <div id="names">Paul S. Scotti, Yoolim Hong, Andrew B. Leber, & Julie D. Golomb</div>
                    <a class="btn zoombtn" href="https://paulscotti.github.io/repulsion.pdf">
                    Journal of Experimental Psychology: General
                    </a>
                    <br><br>
                    <div class="cbar">
                        We show how memories interact with each other to sometimes unconscious systematic repulsion biases.
                    </div>
                    <br>
                    <div class="cbar2">
                        <img src="https://paulscotti.github.io/images/repulsion.png" style="width: 500px">
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <!-- Size Matters -->
    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; min-width: 500px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    Attention scales according to inferred real-world object size
                    <div id="names">Andrew J. Collegio, Joseph C. Nah, Paul S. Scotti, & Sarah Shomstein</div>
                    <a class="btn zoombtn" href="https://home.gwu.edu/~shom/ACL/pubs/2019_CollegioNahScottiShomstein_NatureHB.pdf">
                    Nature Human Behavior
                    </a>
                    <br><br>
                    <div class="cbar">
                        We show it takes longer for attention to spread across a 10-inch picture of a car compared to a 10-inch picture of an eraser.
                    </div>
                    <br>
                    <div class="cbar2">
                        <img src="https://paulscotti.github.io/images/sizematters.png" style="width: 400px">
                    </div>
                </h3>
            </div>
        </div>
    </header>

</body>
</html>

<!-- bundle exec jekyll serve -->