---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<script data-goatcounter="https://paulscotti.goatcounter.com/count"
async src="//gc.zgo.at/count.js"></script>
<script>
    function scroller(id) {
        $('html, body').animate({
            scrollTop: $("#"+id).offset().top
        }, 1000);
    }
</script>
<style>
#names {
    font-size: 14px;
    font-weight: normal;
}
.cbar {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    float: left;
}
.cbar2 {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}
.crow:after {
    content: "";
    display: table;
    clear: both;
}
.title .btn {
    margin: 2px !important;
    padding: 6px !important;
    font-size: 16px !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
}
.btn-rainbow {
    color: white !important;
    background: linear-gradient(124deg, #3A2D68, #2C5182, #277A2B, #9D9340, #A36234, #963239);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.12);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}
.btn-rainboww {
    color: white !important;
    background: linear-gradient(124deg, #9D9340, #A36234, #963239, #3A2D68, #2C5182, #277A2B);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.12);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
.btn-yellow {
    color: black !important;
    background-color: #ffeb3b52;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.12);
}
</style>
<body>
    <!-- <header id="vss">
        <div class="container animated fadeIn" style="width: 70%; max-width: 3000px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(255, 255, 255); background-color: white">
                <h3 class="title" style="text-align: center; padding-top: 5px; color: black; font-size:1rem">
                    Here from VSS/VWMS? <a href="https://www.biorxiv.org/content/10.1101/2021.05.22.445245v1" style="color: #963239">Click here</a> for our preprint about inverted encoding models (and <a href="https://pypi.org/project/inverted-encoding" style="color: #963239">click here</a> for our associated Python package)! Please email me at scottibrain@gmail.com if you have any comments/questions!
                </h3>
            </div>  
        </div>
    </header> -->

    {% include nav.html %}
    <div class="container animated fadeIn" style="width: 40%; max-width: 1500px; padding-bottom: 20px">
        <div class="row" style="border: 6px solid transparent; border-image: linear-gradient(to bottom right, #431358 0%, #08294d 25%, #28750a 50%, #524b14 75%, #46132e 100%); border-image-slice: 1;">
                <a href="{{ site.url }}">
                    <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                </a>
                <h3 class="title">
                    <p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <a class="btn btn-rainbow" href="https://paulscotti.github.io/images/Scotti_CV.pdf">
                        <b>CV</b>
                    </a>
                    <button class="btn btn-rainboww" onclick="scroller('published')">
                        <b>Publications</b>
                    </button>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <p style="font-size:1rem;font-weight:300">Neuroscience Educational Tools:</p>
                    <a class="btn btn-yellow" href="https://paulscotti.github.io/educortex">
                        EduCortex <font size="-1">(Brain visualizer)</font>
                    </a>
                    <br>
                    <a class="btn btn-yellow" href="https://www.onneuro.com">
                        OnNeuro <font size="-1">(Lecture repository)</font>
                    </a>
                    <br>
                    <a class="btn btn-yellow" href="https://pypi.org/project/inverted-encoding">
                        Inverted Encoding <font size="-1">(Python package)</font>
                    </a>
                    <br>
                    <a class="btn btn-yellow" href="https://paulscotti.github.io/fmriplayground/">
                        fMRI Playground <font size="-1">(in progress)</font>
                    </a>
                </h3>
                {% include social-links.html %}
        </div>
    </div>
    {% include scripts.html %}

    <header id="published">
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(255, 255, 255); background-color: black">
                <h3 class="title" style="text-align: center; padding-top: 5px; color: white">
                    PUBLISHED WORK
            </h3>
            <!-- <div style="text-align: center; padding-bottom: 5px; color: rgb(190, 190, 190)"></div> -->
            </div>
        </div>
    </header>

    <!-- IEMeasure -->
    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    An enhanced inverted encoding model for neural reconstructions
                    <div id="names">Paul S. Scotti, Jiageng Chen, & Julie D. Golomb</div>
                    <a class="btn zoombtn" href="https://www.biorxiv.org/content/10.1101/2021.05.22.445245v4"></a>
                    bioRxiv (2021; also under review)
                    </a>
                    <div class="crow">
                        <div class="cbar">
                            Here we present a novel modification to inverted encoding models that improves the flexibility and interpretability of stimulus reconstructions, addresses some key issues inherent in the standard inverted encoding model procedure, and provides trial-by-trial stimulus predictions and goodness-of-fit estimates. We validate the improved utility of our enhanced IEM across three fMRI datasets and offer a Python package for easy implementation.</a>
                        </div>
                        <div class="cbar2">
                            <img src="https://paulscotti.github.io/images/iem_crop.png" style="width: 600px">
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <!-- InterGroup -->
    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    Visual working memory items drift apart due to active, not passive, maintenance
                    <div id="names">Paul S. Scotti, Yoolim Hong, Andrew B. Leber, & Julie D. Golomb</div>
                    <a class="btn zoombtn" href="https://paulscotti.github.io/repulsion.pdf">
                    Journal of Experimental Psychology: General (2021)
                    </a>
                    <div class="crow">
                        <div class="cbar">
                            How are humans capable of maintaining detailed pictures in memory? We sometimes implicitly differentiate memories away from each other to reduce confusion. However, this separation can lead memories to be recalled as biased away from other memory items, termed repulsion bias. We find that repulsion bias can reflect a mnemonic phenomenon, distinct from previous perceptually driven repulsion bias, and that this mnemonic repulsion bias is ongoing during maintenance and dependent on attention to internally maintained memory items. We further reveal contexts where stronger attention during maintenance increases repulsion bias.
                        </div>
                        <div class="cbar2">
                            <img src="https://paulscotti.github.io/images/repulsion.png" style="width: 500px">
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <!-- DF vs RIF -->
    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    What do laboratory‑forgetting paradigms tell us about use‑inspired forgetting?
                    <div id="names">Paul S. Scotti & Ashleigh M. Maxcey</div>
                    <a class="btn zoombtn" href="http://rdcu.be/ckdRz">
                    Cognitive Research: Principles and Implications (2021)
                    </a>
                    <div class="crow">
                        <div class="cbar">
                            We simultaneously measured forgetting via directed forgetting (subject tries to forget item) and recognition-induced forgetting (subject recalls a related item such that target item gets forgotten). We found that RIF produced a stronger forgetting effect than DF. Also found DF is susceptible to response confusion (I remember object was associated w/ Forget instruction, should I report "New"?) and that nearly half of subjects may have disregarded the Forget cues. RIF > DF holds after controlling for these. If your goal is to induce the largest forgetting effect and you don’t care how, unintentional forgetting by recalling a related memory seems to be better choice.
                        </div>
                        <div class="cbar2">
                            <img src="https://paulscotti.github.io/images/df_procedure.png" style="width: 600px">
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <!-- ContLTM -->
    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    Statistical learning as a reference point for memory distortions: swap and shift errors
                    <div id="names">Paul S. Scotti, Yoolim Hong, Julie D. Golomb, & Andrew B. Leber</div>
                    <a class="btn zoombtn" href="https://rdcu.be/cdOa2">
                    Attention, Perception, & Psychophysics (2021)
                    </a>
                    <div class="crow">
                        <div class="cbar">
                            Participants memorized real-world, colored objects in a long-term memory experiment, unaware that most objects shared the same color. Later, when asked to report the colors of the studied objects, participants reported around the most common color despite having no knowledge of such regularities (swap errors). Subtler shift errors were also observed either towards (attraction) or away (repulsion) from the most common color dependent on the distance in color space between the true color and the most common color.
                        </div>
                        <div class="cbar2">
                            <img src="https://paulscotti.github.io/images/contltm.png" style="width: 400px">
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <!-- Frontiers for Young Minds -->
    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    Interactive 3d brain helps you learn how the brain is organized
                    <div id="names">Paul S. Scotti, Arman Kulkarni, Matan Mazor, Eduard Klapwijk, & Alexander Huth</div>
                    <a class="btn zoombtn" href="">
                    Frontiers for Young Minds (accepted, pending final validation)
                    </a>
                    <div class="crow">
                        <div class="cbar">
                            Frontiers for Young Minds is a journal geared towards young children (ages 8-15) where the children are the reviewers (along with a mentor adult)! This paper uses the EduCortex educational tool to explain neuroscience concepts such as functional specialization and what a brain map is.
                        </div>
                        <div class="cbar2">
                            <img src="https://paulscotti.github.io/images/fym.jpg" style="width: 300px">
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <!-- JOSE -->
    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    EduCortex: browser-based 3D brain visualization of fMRI meta-analysis maps
                    <div id="names">Paul S. Scotti, Arman Kulkarni, Matan Mazor, Eduard Klapwijk, Tal Yarkoni, & Alexander Huth</div>
                    <a class="btn zoombtn" href="https://jose.theoj.org/papers/10.21105/jose.00075.pdf">
                    Journal of Open Source Education (2020)
                    </a>
                    <div class="crow">
                        <div class="cbar">
                            EduCortex is an educational browser-based visualization tool that allows the user to enter any functional or anatomical term (e.g., “visual”, “face”, “precuneus”) and visualize the parts of the brain that are most associated with that term. The process can also be reversed, where the user can click anywhere on the brain to see what terms are most associated with the selected brain region. Using principal components analysis, we also display the functional terms that explained the most variance across all activation maps. This tool works through the combination of Neurosynth, a large-scale, automated database of fMRI papers, and PyCortex, an interactive 3D brain visualizer. This tool was mostly made over the course of 1 week during NeuroHackademy 2019.
                        </div>
                        <div class="cbar2">
                            <img src="https://paulscotti.github.io/images/educortex.png" style="width: 300px">
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <!-- Compelling Scenes -->
    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    Recognition-induced forgetting of schematically related pictures
                    <div id="names">Paul S. Scotti, Laura Janakiefski, & Ashleigh M. Maxcey</div>
                    <a class="btn zoombtn" href="https://www.ashleighmaxcey.com/s/Scotti_Janakiefski_Maxcey_PBR_2020.pdf">
                    Psychonomic Bulletin & Review (2020)
                    </a>
                    <div class="crow">
                        <div class="cbar">
                            Recognition-induced forgetting is the category-specific forgetting of pictures that occurs when a subset of a category of pictures is recognized, leading to forgetting of the remaining pictures. This is the first demonstration that recognition-induced forgetting operates over perceptually distinct objects, demonstrating the ubiquity of such forgetting. These results offer an alternative interpretation for evidence that recognition-induced forgetting does not operate over episodic memory representations. 
                        </div>
                        <div class="cbar2">
                            <img src="https://paulscotti.github.io/images/compellingscenes.png" style="width: 300px">
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </header>

    <!-- Size Matters -->
    <header>
        <div class="container animated fadeIn" style="width: 90%; max-width: 3000px; padding-top: 6px; padding-bottom: 0px">
            <div class="row" style="border: 6px solid rgb(0, 0, 0); background-color: white">
                <h3 class="title" style="text-align: center; padding: 20px">
                    Attention scales according to inferred real-world object size
                    <div id="names">Andrew J. Collegio, Joseph C. Nah, Paul S. Scotti, & Sarah Shomstein</div>
                    <a class="btn zoombtn" href="https://home.gwu.edu/~shom/ACL/pubs/2019_CollegioNahScottiShomstein_NatureHB.pdf">
                    Nature Human Behavior (2019)
                    </a>
                    <div class="crow">
                        <div class="cbar">
                            Object-based attention can be more or less efficient depending on the inferred size of the object. It takes longer for attention to spread across a 10-inch picture of a car compared to a 10-inch picture of an eraser. These findings have important implications for models of attentional control and invite sensitivity to object size for future studies that use real-world images in psychological research.
                        </div>
                        <div class="cbar2">
                            <img src="https://paulscotti.github.io/images/sizematters.png" style="width: 400px">
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </header>

</body>
</html>

<!-- bundle exec jekyll serve -->